$color-white: #fff;

$color-grey-light-1: #f9f5f3;
$color-grey-light-2: #f2efee;
$color-grey-light-3: #dad0cc;

$color-grey-dark-1: #968b87;
$color-grey-dark-2: #655a56;

$color-primary-light: #fbdb89;
$color-primary-dark: #f48982;

$color-secondary-light: #f59a83;